{% extends "online_booking/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container form border border-dark rounded p-3">
  <h1 class="text-center font-elsie form-text-bold pb-3">{% trans "Sign Out" %}</h1>

  <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="text-center">
      <button class="btn-lg btn-outline-dark font-elsie font-weight-bold" type="submit">{% trans 'Yes I am' %}</button>
    </div>
  </form>
</div>


{% endblock %}
