{% extends "online_booking/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container form border border-dark rounded p-3">
  <h1 class="text-center font-elsie form-text-bold pb-3">{% trans "Welcome" %}</h1>

  <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="font-elsie form-text-bold">Log in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn-lg btn-dark font-elsie font-weight-bold" type="submit">{% trans "Register" %} &raquo;</button>
  </form>
</div>

{% endblock %}
