{% extends "online_booking/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<!-- authenticated user -->
{% if user.is_authenticated %}

  <!-- form container -->
  <div class="row align-items-center">

    <!-- left side column -->
    <div class="col-4"></div>

    <!-- form column -->
    <div class="col-4 border border-dark rounded p-3 m-auto">

      <!-- form title -->
      <div class="col-12">
        <h1 class="text-center font-elsie form-text-bold pb-3">Make a New Booking</h1>
      </div>
      
      <!-- form -->
      <form method="Post">

        <!-- form fields -->
        {% csrf_token %}
        {{ booking_form | crispy }}

        <!-- form button -->
        <div class="row justify-content-center">
          <button class="button-font btn btn-outline-dark font-elsie font-weight-bold col-6" type="submit">Create Booking &raquo;</button>
        </div>

      </form>
    </div>

    <!-- right side column -->
    <div class="col-4"></div>

  </div>

<!-- guest user -->
{% else %}

  <!-- page title -->
  <div class="row">
    <h2 class="col-12 heading text-center my-5">You are not logged in!</h2>
  </div>

  <!-- page secondary title -->
  <div class="row">
    <h3 class="col-12 sub-heading text-center text-muted font-italic pb-5 font-elsie font-weight-bold">Please login or Register to view the contents of this page.</h3>
  </div>

  <!-- buttons -->
  <div class="row">

    <div class="col-0 col-md-3"></div>

    <!-- sign up -->
    <div class="col-md-3 text-center py-3">
      <a href="{% url 'account_signup' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Sign Up
      </a>
    </div>

    <!-- login -->
    <div class="col-md-3 text-center py-3">
      <a href="{% url 'account_login' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Login
      </a>
    </div>

    <div class="col-0 col-md-3"></div>

  </div>

{% endif %}

{% endblock %}