{% extends "online_booking/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

  <div class="container form border border-dark rounded p-3">
    <h1 class="text-center font-elsie form-text-bold pb-3">Make a New Booking</h1>
    <form method="Post">
      {{ booking_form | crispy }}
      {% csrf_token %}
      <button class="button-font btn btn-outline-dark font-elsie font-weight-bold" type="submit">Create Booking &raquo;</button>
    </form>
  </div>

{% else %}

  <div class="container text-center responsive-width">
    <h2 class="heading mt-5 mb-3">You are not logged in</h2>
    <p class="main-paragraph-text text-center mx-auto pt-2 pb-5">
      Please login or Sign up to view the contents of this page.
    </p>
  </div>

  <div class="container w-50 my-5">
    <div class="row text-center">
      <div class="col-12 col-md-6 py-3">
        <a href="{% url 'account_signup' %}">
          <button type="button" class="button-font btn btn-outline-dark font-elsie font-weight-bold">Sign Up</button>
        </a>
      </div>
      <div class="col-12 col-md-6 py-3">
        <a href="{% url 'account_login' %}">
          <button type="button" class="button-font btn btn-outline-dark font-elsie font-weight-bold">Login</button>
        </a>
      </div>
    </div>
  </div>

{% endif %}

{% endblock %}