{% extends "online_booking/base.html" %}

{% block content %}

<!-- authenticated store manager -->
{% if user.is_authenticated and user.is_staff and user.username == "StoreManager" %}

  <div class="row text-center">

    <!-- page title -->
    <div class="col-12">
      <h2 class="heading my-5 font-elsie">Welcome Store Manager</h2>
    </div>
  </div>

  <!-- buttons -->
  <div class="row text-center my-5">
    <div class="col-12 py-3">
      <a href="view_booking_employee/" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Today's Bookings
      </a>
    </div>
    <div class="col-12 py-3">
      <a href="{% url 'account_logout' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Logout
      </a>
    </div>
  </div>

<!-- authenticated employee -->
{% elif user.is_authenticated and user.is_staff %}

  <div class="row text-center">

    <!-- page title -->
    <div class="col-12">
      <h2 class="heading my-5 font-elsie">Welcome Employee</h2>
    </div>
  </div>

  <!-- buttons -->
  <div class="row text-center my-5">
    <div class="col-12 py-3">
      <a href="view_booking_employee/" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Today's Bookings
      </a>
    </div>

    <div class="col-12 py-3">
      <a href="{% url 'account_logout' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Logout
      </a>
    </div>
  </div>

<!-- authenticated user -->
{% elif user.is_authenticated %}

  <div class="row text-center">

    <!-- page title -->
    <div class="col-12">
      <h2 class="heading my-5 font-elsie">Welcome</h2>
    </div>
  </div>

  <!-- page secondary title -->
  <div class="row text-center">
    <div class="col-12">
      <h3 class="sub-heading text-muted pb-5 font-elsie font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h3>
    </div>
  </div>

  <!-- buttons -->
  <div class="row my-5 text-center">

    <!-- create booking -->
    <div class="col-12 py-3">
      <a href="create_booking/" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Make a booking
      </a>
    </div>

    <!-- manage booking -->
    <div class="col-12 py-3">
      <a href="view_booking/" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Manage Bookings
      </a>
    </div>

    <!-- logout -->
    <div class="col-12 py-3">
      <a href="{% url 'account_logout' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Logout
      </a>
    </div>
  </div>

<!-- guest user -->
{% else %}

  <!-- page title -->
  <div class="row">
    <h2 class="col-12 heading text-center my-5">Online Booking Service</h2>
  </div>

  <!-- page secondary title -->
  <div class="row">
    <h3 class="col-12 sub-heading text-center text-muted font-italic pb-5 font-elsie font-weight-bold">Now Available!!</h3>
  </div>

  <!-- page paragraph -->
  <div class="row">
    <p class="col-12 main-paragraph-text text-center pt-2 pb-5 px-5">
      Our new online booking service is now officially in operation, please feel free to make use of this service in order to
      create and manage your own bookings at your convenience from any device and from any location.
    </p>
  </div>
  
  <!-- buttons -->
  <div class="row">

    <div class="col-0 col-md-3"></div>

    <div class="col-md-3 text-center py-3">
      <a href="{% url 'account_signup' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Sign Up
      </a>
    </div>

    <div class="col-md-3 text-center py-3">
      <a href="{% url 'account_login' %}" class="button-font btn btn-outline-dark font-elsie font-weight-bold">
        Login
      </a>
    </div>

    <div class="col-0 col-md-3"></div>

  </div>

{% endif %}

{% endblock %}