{% extends "online_booking/base.html" %}

{% block content %}

{% if user.is_authenticated %}

  <div class="container-fluid text-center w-50">
    <h2 class="display-4 mt-5">Welcome</h2>
    <h3 class="text-muted  font-italic">{{ user.first_name }} {{ user.last_name }}</h3>
    <p class="main-paragraph-text text-center mx-auto mt-5">
      How would you like to proceed?
    </p>
  </div>

  <div class="container w-50 my-5">
    <div class="row text-center">
      <div class="col-12 col-lg-6 py-3">
        <a href="create_booking/">
          <button type="button" class="btn-lg btn-dark font-elsie font-weight-bold">Make a booking</button>
        </a>
      </div>
      <div class="col-12 col-lg-6 py-3">
        <a href="{% url 'account_logout' %}">
          <button type="button" class="btn-lg btn-dark font-elsie font-weight-bold">Logout</button>
        </a>
      </div>
    </div>
  </div>


{% else %}

  <div class="container-fluid text-center w-50">
    <h2 class="display-4 mt-5">Online Booking Service</h2>
    <h3 class="text-muted  font-italic">Now Available!!</h3>
    <p class="main-paragraph-text text-center mx-auto mt-5">
      Our new online booking service is now officially in operation, please feel free to make use of this service in order to
      create and manage your own bookings at your convenience from any device and from any location.
    </p>
  </div>

  <div class="container w-50 my-5">
    <div class="row text-center">
      <div class="col-12 col-lg-6 py-3">
        <p class="main-paragraph-text">
          First Booking?
        </p>
        <a href="{% url 'account_signup' %}">
          <button type="button" class="btn-lg btn-dark font-elsie font-weight-bold">Register</button>
        </a>
      </div>
      <div class="col-12 col-lg-6 py-3">
        <p class="main-paragraph-text">
          Already registered?
        </p>
        <a href="{% url 'account_login' %}">
          <button type="button" class="btn-lg btn-dark font-elsie font-weight-bold">Login</button>
        </a>
      </div>
    </div>
  </div>

{% endif %}

{% endblock %}