{% extends "online_booking/base.html" %}

{% load account %}

{% block content %}

<h1>test successfull</h1>

<div>
  <table>
  {% if bookings.length > 0 %}
    {% for booking in bookings %}
    
    <tr>
      <td>{{ booking.booking_title }}</td>
      <td>{{ booking.date }}</td>
      <td>{{ booking.service }}</td>
      <td>{{ booking.number_of_seats }}</td>
      <td>{{ booking.contact_number }}</td>
    </tr>
    
    {% endfor %}
  {% endif %}
  </table>
</div>

  {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">
    <button type="button" class="btn-lg btn-dark font-elsie font-weight-bold">Logout</button>
    </a>
  {% endif %}

{% endblock %}