{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ocean basket fine dining seafood restaurant">
  <meta name="keywords" content="ocean basket, seafood, fine dining, restaurant, online booking">
  <title>Ocean Basket</title>
  <!-- link for bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- link for custom stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header class="row">
    <div class="logo container-fluid">
      <a class="nav-link active" href="#">
        <h1 id="logo">Luigi's</h1>
        <h6>Italian Fine Dining Restaurant</h6>
        <button type="button" class="btn btn-light btn-outline-dark btn-sm header-btn">Employee Login</button>
      </a>
    </div>
  </header>
  <main class="flex-shrink-0 main-bg">
    {% block content %}

    {% endblock content %}
  </main>

  <footer class="row">
    <div class="col-4 d-flex justify-content-center">
      <h6 class="login-status">Login Status - Guest</h6>
    </div>
    <div class="col-4 d-flex justify-content-center social-links">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram-square"></i></a>
      <a href=""><i class="fa-brands fa-twitter-square"></i></a>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <h6>Copyright info</h6>
    </div>
  </footer>

  <!-- font awesome script -->
  <script src="https://kit.fontawesome.com/e26a309e14.js" crossorigin="anonymous"></script>
  <!-- bootstrap plugins -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>
</html>