/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

#logo {
  font-family: 'Elsie', cursive;
  color: black;
  font-size: 6rem;
  font-weight: 800;
}

.logo {
  border-bottom: 3px solid black;
}

#logo-sub {
  margin-left: 3rem;
}

footer {
  border-top: 3px solid black;
  height: 5rem;
}

#login-status {
  margin: 1rem auto 1rem auto
}

#social-links a {
  padding: 0 1rem 0 1rem;
  font-size: 3rem;
  color: black;
}

#copyright {
  margin: 1rem auto 1rem auto
}
