/*header {
  height: 150px;
}*/
.logo {
  /*background-color: blueviolet;*/
  position: relative;
  border-bottom: 3px solid black;
}

h1 {
  color: blue;
}

.header-btn {
  position: absolute;
  right: 5%;
  bottom: 10%;
  
}

.footer {
  background-color: red;
  border-top: 3px solid black;
}

.login-status {
  font-size: 1rem;
  margin-left: 1rem;
}
