/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Roboto&display=swap');

/* base.html */

/* body */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* header */

header {
  background-color: black;
}

.logo {
  color: white;
  font-size: 5.5rem !important;
  font-weight: 600 !important;
}

#logo-text {
  color: white;
  font-weight: 400 !important;
  font-size: 1.3rem;
}

#logo-text-sm {
  color: white;
  font-weight: 600 !important;
  font-size: .8rem;
}

/* footer */

footer {
  background-color: black;
  color: white;
}

#social-links a {
  font-size: 2rem;
  color: white;
}

#social-links a:hover {
  color: black;
  background-color: white;
}

.footer-text {
  font-size: 0.9rem;
}

/* templates */

.font-elsie {
  font-family: 'Elsie', cursive;
}

.btn-lg {
  font-size: 2rem;
}

.heading {
  font-size: 4rem;
  font-weight: 500;
}

.sub-heading {
  font-size: 2rem;
}

.button-font {
  font-size: 2rem;
}

/* index.html */

.main-paragraph-text {
  font-size: 1.5rem;
}

/* forms */

.form {
  margin: 5rem auto;
  width: 30%;
}

.form-text-bold {
  font-weight: 800;
}

/* view_booking.html */

.booking_table {
  width: 80%;
}

thead {
  letter-spacing: 1px;
}

/* media queries */

/* for screen width less than 1200px */
@media screen and (max-width: 1200px) {

  /* forms */

  .form {
    width: 50%;
  }

  /* index.html */

  /*.responsive-width {
    width: 70%;
  }*/

}

/* for screen width less than 650px */
@media screen and (max-width: 650px) {

  /* header */

  .logo {
    font-size: 4rem;
  }

  #logo-sub-text {
    font-size: 1rem;
  }

  /* footer */

  #social-links a {
    font-size: 2rem;
  }

  /* forms */

  .main-paragraph-text {
    font-size: 1rem;
  }

  /* templates */

  .heading {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.25rem;
  }

}

/* for screen width less than 400px */
@media screen and (max-width: 400px) {

  /* header */
  .logo {
    font-size: 2.5rem;
  }

  #logo-sub-text {
    font-size: 0.75rem;
  }

  /* footer */

  #social-links a {
    font-size: 1.5rem;
  }

}